*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    text-decoration: none;
}
.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: firebrick;
    padding: 35px;
    align-items: center;
}
.cabecalho ul{
display: flex;
gap: 30px;
}

.cabecalho ul li a{
color: forestgreen;
}
.main{
    padding: 30px 60px;
}
.btn:hover{
    background-color: rgb(65, 15, 15);
    transition: 0.5s all;
}
.rodape{
    background-color: #333;
}